.app {
    font-family: Arial, sans-serif;
    text-align: center;
}
.logged-in-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}
/* Welcome Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #0f62ce;
  }
.popup-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 20px;
}
.popup-content .username-input{
    border-radius: 5px;
    outline: none;
    /* border: none; */
    background-color: #e8e8e8;
    height: 25px;
    display: block;
    margin: 0 auto;
}
.popup-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

/* Sign-In Button */
.sign-in-button {
    background-color: #007bff;
    color: white;
}

.sign-in-button:hover {
    background-color: #0056b3;
}

/* Guest Button */
.guest-button {
    background-color: #f8f9fa;
    color: #333333;
}

.guest-button:hover {
    background-color: #e2e6ea;
}

/* Logout Button */
.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #c82333;
}