.app {
    font-family: Arial, sans-serif;
    text-align: center;
}

.logged-in-nav {
    display: flex;
    gap : 10px;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #0f62ce;
}

.popup-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 20px;
}

.popup-content .username-input {
    border-radius: 5px;
    outline-color: #007bff;
    background-color: #f6f6f6;
    border: none;
    height: auto;
    font-size: 15px;
    width: 90%;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
}

.popup-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.sign-in-button {
    background-color: #007bff;
    color: white;
}

.sign-in-button:hover {
    background-color: #0056b3;
}

.guest-button {
    background-color: #f8f9fa;
    color: #333333;
}

.guest-button:hover {
    background-color: #e2e6ea;
}

.logout-button {
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: 2px solid #dc3545;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
}

.logout-button:hover {
    background-color: #c82333;
}

@media (max-width: 600px) {
    .app {
        font-size: medium;
    }
}